*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    
    
    text-align: center;
    
    
}

.login-form {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 460px;
    
}
    .login-form > section {
        padding: 35px 35px 25px 35px;
        border-radius: 5px;
    }
    .login-form a {
        color: #fff;
    }
    .login-form img {
        display: block;
        margin: 0 auto;
        margin-bottom: 55px;
    }


.login-form  form{
    background-color: transparent;
    width: 400px;
    padding: 10px;
     width: 100%;
    height: 100vh;
    
    display: block;
      justify-content: center;
    align-items: center;
}
  .login-form form img{
    margin: 15px auto;
    text-align: center;
    display: block;
    height: auto;
}
.login-form form input{
    width: 90%;
    padding: 5px;
    font-size: 10pt;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #8B6415;
    color: #8B6415;
   
}

 .login-form form input[type="submit"]{
    background-color: #8B6415;
    padding: 10px;
    color: white;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    
}
.alert{
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    color: grey;
}

