@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ededed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #FFF;
	background-color:  #8B6415;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	background-color: #b88318;
	/*background: #E5B322 ;*/
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid darkred;
}
nav .principal > a{
    background: url(../images/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 100% center;
    background-size: 10px;
    float: left;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background-color:#E5B322;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background-color: burlywood;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
    
	padding: 90px 15px 15px;
}
/*****************************************************************/

.form_register{
    width: 450px;
    margin: auto;
}
.form_register h1{
    color: darkblue;
}
hr{
    border: 0;
    background-color: dimgray;
    height: 1px;
    margin: 10px 0px;
    display: block;
}
form{
    background-color: burlywood;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
}
label{
    display: block;
    font-size: 12pt;
    font-family: 'GothamBook';
    margin: 15px auto 5px auto;
}
input,select{
    display: block;
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
}
.notItemOne option:first-child{
    display: none;
}
.btn_save{
    font-size: 12pt;
    background-color: chartreuse;
    padding: 10px;
    color: blueviolet;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
}
.alert{
    width: 100%;
    background-color: deepskyblue;
    border-radius: 6px;
    margin: 20px auto;
}
.msg_error{
    color: red;
}
.msg_save{
    color: green;
}
.alert p{
    padding: 10px;
}
/*###############################*/

#container h1{
    font-size: 35px;
    display: inline-block;
}
.btn_new{
    display: inline-block;
    background-color: darkslategrey;
    color: darkred;
    padding: 5px 25px;
    border-radius: 4px;
    margin: 20px;
}
table{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: inherit;
    width: 100%;
}
table th{
    text-align: left;
    padding: 10px;
    background-color: darkgoldenrod;
    color: darkred;
}
table tr:nth-child(odd){
    background-color: darkgray;
}
table td{
    padding: 10px;
     
}

div table{
    border-collapse: separate;
    padding: 10px;
    
}

div table th{
    background-color: floralwhite;
    margin: 10%;
    padding: 20px 20px 20px 20px;
    width: 100px; /*Aquí va el ancho de la Celda*/
    height: 100px;
    
}


.fila_impar {
    background-color:floralwhite;
}
 
.link_edit{
    color: darkgreen;
}
.link_delete{
    color: red;
}
.data_delete{
    text-align: center;
}
.data_delete h2{
    font-size: 12pt;
}  
.data_delete span{
    font-weight: bold;
    color: darkblue;
    font-size: 12pt;
}
.btn_cancel,.btn_ok{
    width: 124px;
    background-color: azure;
    color: black;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}
.btn_cancel{
    background-color: green;
}
.btn_ok{
    background-color: red;
}

.data_delete form{
    background:initial;
    margin: auto;
    padding: 20px 50px;
    border:0;
}
/* paginador*/
.paginador ul{
    padding: 15px;
    list-style: none;
    background-color: #fff;
    margin-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
.paginador a, .pageSelected{
    color: darkred;
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;
}
.paginador a:hover{
    background-color: crimson;
}
.pageSelected{
    color: greenyellow;
    background-color: firebrick;
    border: 1px solid #428bca;
}



